<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tanet_linkedin.name %>
</p>

<p>
  <strong>Data:</strong>
  <%= @tanet_linkedin.data %>
</p>

<%= link_to 'Edit', edit_tanet_linkedin_path(@tanet_linkedin) %> |
<%= link_to 'Back', tanet_linkedins_path %>
