<%- model_class = IndividualFormat -%>
<div class="page-header">
  <tr>
    <th>People stored on the platform can be transformed into the following formats:</th>
  </tr>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:baseToFormat) %></th>
      <th><%= model_class.human_attribute_name(:formatToBase) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @individual_formats.each do |individual_format| %>
      <tr>
        <td><%= link_to individual_format.id, individual_format_path(individual_format) %></td>
        <td><%= individual_format.name %></td>
        <td><%= individual_format.baseToFormat.to_s[0, 50] %> ... </td>
        <td><%= individual_format.formatToBase.to_s[0, 50] %> ... </td>
        <td>
          <% unless ['json', 'jsonld', 'xml','rdf'].include? individual_format.name %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                individual_format_path(individual_format),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-mini btn-danger' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to t('.new', :default => t("helpers.links.new")),
      new_individual_format_path,
      :class => 'btn btn-primary' %>
